include CONTRIBUTING.md
include HISTORY.md
include LICENSE
include README.md
include src/projectorx/required_orbitals.json

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.md Makefile *.jpg *.png *.gif
